{% extends "blog/base.html" %}
{% load static %}


{% block content %}
<div class="page-top-area set-bg" data-setbg="{% static 'pics/2.jpg' %}">
<div class="breadcrumb-area">
<a href="#">Home</a> / <span>About us</span>
</div>
</div>

<section class="services-section spad">
<div class="container p-0">
<h3 class="blog-title">About Us</h3>
<div class="post-metas">
<!-- <div class="post-meta">by <a href="">james Smith</a></div>|
<div class="post-meta">in <a href="">tutorials</a></div> -->
</div>



<div class="container p-0">
{% for about in abouts %}
<p style="font-size: 20px">{{about.content}}</p>
{% endfor %}
</div>
</div>
</section>

 <!--  -->



{% endblock %}