{% extends "blog/base.html" %}
{% load static %}


{% block stylesheets %}
    <link rel="stylesheet" type='text/css' href="{% static 'users/main.css' %}">
{% endblock %}

{% block content %}



<div class="page-top-area set-bg" data-setbg="{% static 'pics/2.jpg' %}">
<div class="breadcrumb-area">
<a href="#">Home</a> / <span>Events</span>
</div>
</div>






























<section class="blogs-section sp-pad spad">
<div class="container-fluid p-0">
<div class="blog-list">

<div class="blog-item">


<!-- event date -->
<div class="blog-thumb set-bg" data-setbg="{% static 'pics/events.jpeg' %}">
<div class="post-date-warp">
<div class="container">
<div class="post-date-box">
<h3>12</h3>
<p>March ‘18</p>
</div>
</div>
</div>
</div>
<!-- end event date -->

<div class="container p-0">
<h3 class="blog-title">Event title</h3>
<div class="post-metas">
<!-- <div class="post-meta">by <a href="">james Smith</a></div>|
<div class="post-meta">in <a href="">tutorials</a></div> -->
</div>
<p style="font-size: 20px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>


</div>
<div class="text-center">
<button class="site-btn">load more</button>
</div>
</div>
</section>




{% endblock %}