{% extends "blog/base.html" %}
{% load static %}


{% block title %}
    Home
{% endblock %}

<!-- <div id="preloder">
<div class="loader"></div>
</div> -->



{% block content %}

<section class="hero-section">
<div class="hero-slider owl-carousel">
<div class="hs-item set-bg sp-pad" data-setbg="{% static 'pics/try.jpg' %}">
<div class="hs-text">
<h2 class="hs-title">PIEATSO</h2>
<p class="hs-des">Proffesional Insitution of <br> Engineering Architecture Technology & Science.</p>
</div>
</div>
<div class="hs-item set-bg sp-pad" data-setbg="{% static 'pics/try2.jpg' %}">
<div class="hs-text">
<h2 class="hs-title">PIEATSO</h2>
<p class="hs-des">Proffesional Insitution of <br> Engineering Architecture Technology & Science.</p>
</div>
</div>
</div>
</section>



<!-- 

<section class="portfolio-section">
<div class="portfolio-warp">

<div class="single-portfolio set-bg" data-setbg="img/portfolio/1.jpg">
<a href="single-work.html" class="portfolio-info">
<div class="pfbg set-bg" data-setbg="img/portfolio/1.jpg"></div>
<h5>Summer in the desert</h5>
<p>Landscape Photography</p>
</a>
</div>

<div class="single-portfolio set-bg" data-setbg="img/portfolio/2.jpg">
<a href="single-work.html" class="portfolio-info">
<div class="pfbg set-bg" data-setbg="img/portfolio/2.jpg"></div>
<h5>Summer in the desert</h5>
<p>Landscape Photography</p>
</a>
</div>

<div class="single-portfolio set-bg" data-setbg="img/portfolio/3.jpg">
<a href="single-work.html" class="portfolio-info">
<div class="pfbg set-bg" data-setbg="img/portfolio/3.jpg"></div>
<h5>Summer in the desert</h5>
<p>Landscape Photography</p>
</a>
</div>

<div class="single-portfolio sm-wide set-bg" data-setbg="img/portfolio/4.jpg">
<a href="single-work.html" class="portfolio-info">
<div class="pfbg set-bg" data-setbg="img/portfolio/4.jpg"></div>
<h5>Summer in the desert</h5>
<p>Landscape Photography</p>
</a>
</div>

<div class="single-portfolio sm-wide set-bg " data-setbg="img/portfolio/5.jpg">
<a href="single-work.html" class="portfolio-info">
<div class="pfbg set-bg" data-setbg="img/portfolio/5.jpg"></div>
<h5>Summer in the desert</h5>
<p>Landscape Photography</p>
</a>
</div>

<div class="single-portfolio set-bg" data-setbg="img/portfolio/6.jpg">
 <a href="single-work.html" class="portfolio-info">
<div class="pfbg set-bg" data-setbg="img/portfolio/6.jpg"></div>
<h5>Summer in the desert</h5>
<p>Landscape Photography</p>
</a>
</div>

<div class="single-portfolio sm-wide md-w-100 set-bg " data-setbg="img/portfolio/7.jpg">
<a href="single-work.html" class="portfolio-info">
<div class="pfbg set-bg" data-setbg="img/portfolio/7.jpg"></div>
<h5>Summer in the desert</h5>
<p>Landscape Photography</p>
</a>
</div>
</div>
<div class="clearfix"></div>
</section>


<section class="milestones-section spad">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-6 fact-box">
<div class="fact-content">
<i class="flaticon-gamepad"></i>
<h2>48</h2>
<p>VIDEO gAMES</p>
</div>
</div>
<div class="col-lg-3 col-md-6 fact-box">
<div class="fact-content">
<i class="flaticon-trophy"></i>
<h2>7</h2>
<p>AWARDS WON</p>
</div>
</div>
<div class="col-lg-3 col-md-6 fact-box">
<div class="fact-content">
<i class="flaticon-alarm-clock"></i>
<h2>23K</h2>
<p>Pictures taken</p>
</div>
</div>
<div class="col-lg-3 col-md-6 fact-box">
<div class="fact-content">
<i class="flaticon-laptop"></i>
<h2>19</h2>
<p>Video tutorials</p>
</div>
</div>
</div>
</div>
</section>
 -->

<section class="services-section spad">
<div class="container-fluid services-warp">
<div class="services-text">
<div class="container p-0">
<h3 class="sp-title">see What we offer</h3>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

</p>
</div>
</div>
<div class="container p-0">
<div class="row">
<div class="col-xl-8 offset-xl-4">
<div class="row">



<div class="col-md-6">
<div class="icon-box">
<!-- i class="flaticon-video-camera"></i> -->
<h4>Lorem ipsum</h4>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
</div>



<div class="col-md-6">
<div class="icon-box">
<!-- <i class="flaticon-photo-camera"></i> -->
<h4>Lorem ipsum</h4>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
</div>



<div class="col-md-6">
<div class="icon-box">
<!-- <i class="flaticon-safebox"></i> -->
<h4>Lorem ipsum</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
</div>



<div class="col-md-6">
<div class="icon-box">
<!-- <i class="flaticon-idea"></i> -->
<h4>Lorem ipsum</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>


</div>
</div>
</div>
</div>
</div>
</div>
<div class="service-more-link">
<a href="#" class="arrow-btn">
<i class="fa fa-angle-right"></i>
<i class="fa fa-angle-right"></i>
<i class="fa fa-angle-right"></i>
</a>
</div>
</section>



{% endblock %}

