{% extends "blog/base.html" %}
{% load static %}

{% block content %}

<section class="hero-section">
<div class="hero-slider owl-carousel">
<div class="hs-item set-bg sp-pad" data-setbg="{% static 'pics/try.jpg' %}">
<div class="hs-text">
<h2 class="hs-title">Portfolio</h2>
<!-- <p class="hs-des">Proffesional Insitution of <br> Engineering Architect & Technology SOMALI.</p> -->
</div>
</div>
<div class="hs-item set-bg sp-pad" data-setbg="{% static 'pics/try2.jpg' %}">
<div class="hs-text">
<h2 class="hs-title">PIEATSO</h2>
<!-- <p class="hs-des">Proffesional Insitution of <br> Engineering Architect & Technology SOMALI.</p> -->
</div>
</div>
</div>
</section>



{% endblock %}