{% extends "blog/base.html" %}
{% load static %}
{% block title %}
User Profile
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type='text/css' href="{% static 'users/main.css' %}">
{% endblock %}


{% block content %}
<!-- 
<div class="ui card">
  <div class="image">
    <img src="{{ user.profile.image.url }}">
  </div>
  <div class="content">
    <a class="header">{{ user.username }}</a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
    </div>
    <div class="description">
      {{ user.email }}
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      22 Friends
    </a>
  </div>
</div>



        <div class='padding-10'>
        <form class='register-form' method='POST' enctype='multipart/form-data'>
            {% csrf_token %}
            <fieldset class="form-field-set">
                <legend class="legend-style-1"> Profile Info </legend>
                {{ u_form.as_p }}
                {{ p_form.as_p }}
            </fieldset>

            <input class='form-submit-button margin-top-20' type='submit' value='Update' />
        </form>
        </div>
    </div>
</div>





<div style="margin: 30px">

<div class="ui huge labeled input">
  <div class="ui label">
    username
  </div>
  <input type="text" placeholder="">
</div>

<div class="ui huge labeled input">
  <div class="ui label">
    email
  </div>
  <input type="text" placeholder="">
</div>






 -->

 <br><br><br><br><br><br>

{% endblock %}